@{
    ViewBag.Title = "About the app";
}

<div class="jumbotron">
    <h1 style="text-align:center; color:lightblue;">@ViewBag.Title</h1>
    <h3 style="text-align:center;">@ViewBag.Message</h3>
</div>
<p>
    This is the Tracks Manage System that can be used in musical industry. The app was was created using ASP.NET framework and MVC pattern. </br>
    In this version, you are able:
    <ul>
        <li> Create artists, albums, tracks </li>
        <li> Work with media files </li>
        <li> Edit tracks </li>
        <li> Store the information permanently in database</li>
        <li> See the list of all tracks, artists, albums</li>
        <li> Use Authorization and Authentification to protect illegal access to the system</li>
    </ul>
    * This app is a result of merging knowledges gained through the work with the previous apps. <a class="btn btn-success btn-sm" href="~/Artists/Index">Try it &raquo;</a>

</p>
<p><a class="btn btn-warning btn-sm" href="https://iantipson.com/2016/03/22/assignment-8/">Check the tutorial &raquo;</a></p>