@{
    ViewBag.Title = "Contact the developer";
}


<div class="jumbotron">
    <h1 style="text-align:center; color:lightblue;">@ViewBag.Title</h1>
    <h3 style="text-align:center;">@ViewBag.Message</h3>
</div>


<address>

    <span class="glyphicon glyphicon-envelope" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" , font-size "40px;"></span>
    70 Pond Road<br />
    Toronto, ON<br />
    Canada<br />
    <abbr title="Phone">P:</abbr>
    647.646.6474
</address>

<address>
    <a class="btn btn-warning btn-sm" href="mailto:omytryniuk@myseneca.ca">Mail to me &raquo;</a></p>


</address>