@{
    ViewBag.Title = "Music Management System";
}

<div class="jumbotron">
    <h1 style="text-align: center;"><img src="https://cdn3.iconfinder.com/data/icons/music-notes-symbols/512/Icon_7-512.png" width="50" height="50"></img>Music Management System</h1><br>
    <a href="http://omytryniuk-a8.azurewebsites.net/"><h2 style="text-align: center;margin-top:0;">omytryniuk-a8.azurewebsites.net</h2></a>
    <p class="lead" style="text-align: center;">
        Welcome to Music Management System designed by Oleg Mytryniuk. This is a multifunctional system that allows you to store and manage tracks, albums and users. Here is the tutorial <br>
        <a href="https://iantipson.com/2016/03/22/assignment-8/" target="_blank" class="btn btn-info btn-sm">Tutorial &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 style="text-align:center;"> Contact the developer</h2>
        <p>If you have any questions, please, do not hesitate and ask me directly. You can find all required information how to contact me on the Contact Page </p></br>
        <p><a class="btn btn-warning  center-block" href="~/Home/Contact">Contact &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2 style="text-align:center;">How to use app</h2>
        <p>
            Let's start. Click on the link below. It will direct you to the page where you will see the list of all artists in the system.
        </p> </br>
        <p><a class="btn btn-success center-block" href="~/Artists/Index">Display Artists &raquo;</a></p>
    </div>


</div>